@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

html,body{
    height: 100%;
    width: 100%;
    /* width: 1152px; */
}

body {
    font-family: Roboto;
    margin: 0px;
}

header {
    background: #F5F5F6;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu {
    display: flex;
    align-items: center;
    margin-top: 2px;
    margin-bottom: 5px;
    margin-left: 100px;
    height: 50px;
}

.logo {
    width: 89px;
    height: 23px;
}

.list {
    display: flex;
}

li {
    list-style-type: none;
    padding-top: 0px;
    padding-bottom: 2px;
    padding-left: 25px;
    padding-right: 4px;
    position: relative;
    font-family: Roboto;    
    font-weight: 500;
    font-size: 11px;
    color: #959BA4;
}

li:hover {
    color: #000000;
}
.enter {
    border-radius: 4px;
    border: none;
    width: 58px;
    height: 33px;
    line-height: 35px;
    text-align: center;
    background: #FFFFFF;
    color: #000000;
    font-family: Roboto;
    font-weight: 500;
    font-size: 11px;
    margin-top: 0px;
    margin-bottom: 13px;
    margin-right: 102px;   
}

.converter-head {
    margin-left: 253px;
    margin-top: 56px;
    margin-bottom: 1px;
    font-family: Roboto;
    font-weight: 700;
    font-size: 36px;
    color: #000000;
}

.converter {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    margin-left: 253px;
    margin-right: 258px;
    margin-top: 29px;
}

.change-button {
    width: 36.85px;
    height: 31.77px;
}
.block {
    display: flex;
    flex-direction: column;
}

.text {
    color: #9F9F9F;
}


.currancy-name {
    width: 50px;
    height: 28px;
    font-family: Roboto;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: #C6C6C6;
    background: #FFFFFF;
    border: 0.5px solid ;
    outline: none;
    float: left;
    margin: 0px;
}

.currancy-name:hover {
    background: #833AE0;
    color: #FFFFFF;
}

.value {
    width: 259px;
    height: 102px;
    border: 1px solid #E5E5E5;
    box-sizing: border-box;
    border-radius: 3px;
    font-family: Roboto;
    font-size: 36px;
    margin-top: 21px;
    font-family: Roboto;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;

    color: #000000;
}


